<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UserCO</servlet-name>
        <servlet-class>CL.UserCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisiterCO</servlet-name>
        <servlet-class>CL.VisiterCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEventCO</servlet-name>
        <servlet-class>CL.UserEventCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCO</servlet-name>
        <servlet-class>CL.AdminCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFeedbackCO</servlet-name>
        <servlet-class>CL.UserFeedbackCO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCO</servlet-name>
        <url-pattern>/UserCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisiterCO</servlet-name>
        <url-pattern>/VisiterCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEventCO</servlet-name>
        <url-pattern>/UserEventCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCO</servlet-name>
        <url-pattern>/AdminCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFeedbackCO</servlet-name>
        <url-pattern>/UserFeedbackCO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
